.profilePage {
    .paddingTop {
        padding-top: 15%;

        .setUserImage {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid var(--ion-color-primary);
        }
    }
}