<ion-header mode="ios">
  <ion-toolbar color="primary" mode="ios" class="ion-padding-top">
    <ion-buttons slot="start" class="registerAccount ion-padding-top ion-padding-bottom">
      <ion-button (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="closeIcon ion-padding-top ion-padding-bottom">
      <ion-button (click)="submitPassword()">
        Forgot Password
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="forgotPasswordPage">
  <ion-row class="ion-margin-top">
    <ion-col size="10" offset="1">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Email/Mobile</ion-label>
        <ion-input name="email-mobile" autofocus="true" clearInput="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>