<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <img class="userImage ion-margin-bottom ion-margin-start" src="assets/images/user.png" />
          <ion-list-header>Test User</ion-list-header>
          <ion-note>test@testemail.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;">
            <ion-item routerDirection="root" [routerLink]="p?.url" lines="none" detail="false">
              <ion-icon color="primary" slot="start" [ios]="p?.icon + '-outline'" [md]="p?.icon + '-sharp'"></ion-icon>
              <ion-label color="primary">{{ p?.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item detail="false" lines="none" (click)="logoutFunction()">
            <ion-icon color="primary" slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
            <ion-label color="primary">Logout</ion-label>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>