<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homePage">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <img src="assets/images/food-image.jpg" />
    </ion-col>
    <ion-col size="12" class="ion-padding-start">
      <h4>Menu</h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-padding-horizontal">
      <ion-item detail="true" class="ion-no-padding" (click)="showDetailsPage('1','Best seller')">
        <ion-avatar slot="start" class="setAvatarSize">
          <img src="assets/images/image1.jpg">
        </ion-avatar>
        <ion-label>Best seller</ion-label>
      </ion-item>

      <ion-item detail="true" class="ion-no-padding" (click)="showDetailsPage('2','Our special')">
        <ion-avatar slot="start" class="setAvatarSize">
          <img src="assets/images/image1.jpg">
        </ion-avatar>
        <ion-label>Our special</ion-label>
      </ion-item>

      <ion-item detail="true" class="ion-no-padding" (click)="showDetailsPage('3','Soup')">
        <ion-avatar slot="start" class="setAvatarSize">
          <img src="assets/images/soup.png">
        </ion-avatar>
        <ion-label>Soup</ion-label>
      </ion-item>

      <ion-item detail="true" class="ion-no-padding" (click)="showDetailsPage('4','Veg Pizzas')">
        <ion-avatar slot="start" class="setAvatarSize">
          <img src="assets/images/pizza.png">
        </ion-avatar>
        <ion-label>Veg Pizzas</ion-label>
      </ion-item>

      <ion-item detail="true" class="ion-no-padding" (click)="showDetailsPage('5','Non veg pizzas')">
        <ion-avatar slot="start" class="setAvatarSize">
          <img src="assets/images/pizza.png">
        </ion-avatar>
        <ion-label>Non veg pizzas</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>